h1, h3{
    font-family: fantasy;
    font-weight:bolder;
    text-align: center;
}  
html{
    background-image: url(../images/90sbackground.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#tampic{
    position: relative;
    left: 50px;
    top: 100px;
    border:5px solid black;
    border-radius: 50%;
}

#macapic{
    position: relative;
    left: 225px;
    border:5px solid black;
    border-radius: 50%;
}
#sbtbpic{
    position: relative;
    left: 400px;
    top: 100px;
    border:5px solid black;
    border-radius: 50%;
}
#docpic{
    position: relative;
    left: 50px;
    bottom: 100px;
    border:5px solid black;
    border-radius: 50%;
}
#discpic{
    position: relative;
    left: 225px;
    bottom: 0px;
    border:5px solid black;
    border-radius: 50%;
}
#bbpic{
    position: relative;
    left: 400px;
    bottom: 100px;
    border:5px solid black;
    border-radius: 50%;
}